body{
    background: #F9FAFC;
    align-items: center;
    align-content: center;
}
h1{
    margin: 0%;
}
#ingreso{
    margin-top: 20rem;
    margin-left: 45rem;
    background: white;
    padding-bottom: 50px;
    width: 47rem;
    height: 25rem;
    box-shadow: 13px 9px 7px #ccc;
    padding-bottom: 10px;
    display: inline-grid;
    align-items: flex-start;
}
#ingreso-title{
    border-style: double;
    border: black;
    background: blue;
}
#icon-key{
    align-items: center;
    margin: 3rem 0rem 3rem 5rem;
    background-color: red;
}
#body{
    display: flex;
}
#datos{
    display: inline;
    align-content: center;
    margin: 1.5rem 3rem 3rem 0rem;
    padding: 0rem 1.2rem;
    border-color: blue;
    border-style: outset;
}
input{
    font-size: x-large;
    margin: 1.5rem 0rem;
}
#end{
    display: flex;
    justify-content: space-around;
}
.btn-primary {
    background-color:gray;
    color: white;
}

.btn-primary:hover {
    background-color: lightgray;
    color: black;
}
.btn-none {
    cursor: pointer;
    padding: 1.5rem 2rem;
    border-color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    font-size: 30px;
}
#use{
    padding-right: 3.7rem;
}